<launch>
    <arg name = "friction_coef" default = "0.9"/>

    <node pkg="simulator" type="keyboard_steering.py" name="sim_manager" output="screen">
      <param name="publish_rate" type="double" value="100"/>
      <param name="default_speed" type="double" value="2"/>
    </node>

    <node pkg="simulator" type="ros_simulator" name="simulator_node" output="screen" >
      <param name="dT" type="double" value="0.001"/>
      <param name="initial_speed" type="double" value="2.0"/>
      <param name="friction_coef" type="double" value="$(arg friction_coef)"/>
    </node>

    <node pkg="skidpad_planner" type="skidpad_planner" name="skidpad_planner">
        <param name="~/skipad/R" type="double" value="5.0"/>
        <param name="~/skipad/a" type="double" value="5.0"/>
        <param name="~/skipad/b" type="double" value="5.0"/>
        <param name="~/path/start" type="double" value="-1.0"/>
        <param name="~/path/stop" type="double" value="2.5"/>
        <param name="~/path/step" type="double" value="0.25"/>
    </node>

    <node pkg="model_cmd_converter" type="model_cmd_converter" name="model_cmd_converter">
      <param name="KP" type="double" value="2.0" />
      <param name="KI" type="double" value="0.0" />
      <param name="KD" type="double" value="0.0" />
    </node>

 <node pkg="mpc" type="mpc" name="mpc" output="screen">
    <param name="prediction_horizon" type="int" value="6" />
    <param name="delta_time" type="double" value="0.05" />
    <param name="loop_rate" type="int" value="10" />
    <param name="max_mod_delta" type="double" value="4.4" />
    <param name="max_acceleration" type="double" value="1" />
    <param name="max_decceleration" type="double" value="-1" />
    <param name="ref_v" type="double" value="2" />
    <param name="cte_weight" type="int" value="100" />
    <param name="epsi_weight" type="int" value="15" />
    <param name="v_weight" type="int" value="15" />
    <param name="delta_weight" type="int" value="20" />
    <param name="a_weight" type="int" value="100" />
    <param name="diff_delta_weight" type="int" value="100" />
    <param name="diff_F_weight" type="int" value="10" />
    <param name="vehicle_mass" type="double" value="1300" />
    <param name="tyre_radius" type="double" value="0.3" />
    <param name="cornering_safety_weight" type="double" value="20.0" />
    <param name="max_v" type="double" value="5.0" />
    <param name="friction_coefficient" type="double" value="$(arg friction_coef)"/>

    <remap from="speed" to="model_speed"/>
    <remap from="target_control" to="mpc_control"/>
  </node>

</launch>
